.recipe-window {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    margin-top: 1rem;
  }
  .recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    width: 20rem;
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s easeS;
  }
  
  .recipe:hover {
    cursor: pointer;
    transform: translateY(5px);
  }
  
  .recipe h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
  
  .recipe img {
    width:20rem;
  }